{% extends 'admin_console/base.html' %}
{% load static %}
{% load i18n %}

{% block app_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/pretty-checkbox-overrides.css' %}" />
<link rel="stylesheet" href="{% static 'admin_console/css/widgets.css' %}" />
{{ form.media }}
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | Apply
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
        <li><a href="{% url 'admin_console:home' %}">{% trans "Admin" %}</a></li>
        &nbsp;>&nbsp;
        <li><a href="{% url 'admin_console:accounts' %}">{% trans "Accounts" %}</a></li>
        &nbsp;>&nbsp;
        <li><a href="{% url 'admin_console:user-list' %}">{% trans "Users" %}</a></li>
        &nbsp;>&nbsp;
        {% if object %}
            <li><a href="{% url 'admin_console:user-detail' pk=object.pk %}">{{ object.name }}</a></li>
            &nbsp;>&nbsp;
            <li>{% trans "Edit" %}</li>
        {% else %}
            <li>{% trans "Add" %}</li>
        {% endif %}
    </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% include 'admin_console/user_form_snippet.html' %}
{% endblock %}

{% block app_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {

        $('#id_user-birth_date').datepicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated', 'default-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}