{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block app_css %}
  <link rel="stylesheet" href="{% static 'accounts/auth-styles.css' %}" />
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Set new password" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
         &nbsp;>&nbsp;
        {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:profile' slug=user.slug %}">{{ user.username }}</a></li>
        {% else %}
          <li><a class="active">{% trans "Account" %}</a></li>
        {% endif %}
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Reset password" %}</a></li>
    </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
  {% if validlink %}
    <div class="row">
        <div class="col-xs-4 mx-auto">
          <h4>{% trans "Change password" %}</h4>
          <div class="card pl-4 pr-4 pb-4 auth-card">
            {% crispy form form.helper %}
          </div>
        </div>
      </div>
  {% else %}
    <h2>{% trans "We're sorry..." %}</h2>
    {% url 'accounts:password_reset' as pass_reset_url %}
    {% blocktrans %} <p>...but this password reset link has expired. Please <a href="{{ pass_reset_url }}">request a new one</a></p>{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block app_js %}
<script>
  $("#new-password").tooltip({trigger: 'focus'});
</script>
{% endblock %}