{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block app_css %}
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Password reset successful" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
         &nbsp;>&nbsp;
        {% if user %}
          <li><a href="{% url 'accounts:profile' pk=user.id %}">{{ user.username }}</a></li>
        {% else %}
          <li><a class="active">{% trans "Account" %}</a></li>
        {% endif %}
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Password reset" %}</a></li>
    </ol>
{% endblock %}

{% block main_content %}
  <h4>{% trans "Password reset" %}</h4>
  <p>{% trans "We've emailed you instructions for resetting your password to the e-mail addres you submitted." %}</p>
  <p>{% trans "You should be receiving it shortly." %}</p>
  <p><a href="{% url 'home' %}">{% trans "Home" %}</a></p>
  <p><a href="{% url 'accounts:login' %}">{% trans "Login" %}</a></p>
{% endblock %}

{% block app_js %}
{% endblock %}