{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block app_css %}
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Set new password" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
         &nbsp;>&nbsp;
        {% if user %}
          <li><a href="{% url 'accounts:profile' pk=user.id %}">{{ user.username }}</a></li>
        {% else %}
          <li><a class="active">{% trans "Account" %}</a></li>
        {% endif %}
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Password reset" %}</a></li>
    </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
    {% if validlink %}
    <form id="reset-password-form" class="needs-validation" action="" method="POST" novalidate="novalidate">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}
      <div class="form-row">
        <label class="h3">{% trans "Password change" %}</label>
      </div>
      <p>{% trans "Please enter your new password." %}</p>
      <div class="form-row">
        <div class="col-sm-12 col-md-12 mb-3">
          <label class="control-label" for="{{ form.new_password1.html_name }}">
            {{ form.new_password1.label }}
          </label>
          {{ form.new_password1 }}
          <div class="invalid-feedback">{% trans "This field is required." %}</div>
          {% for e in form.new_password1.errors %}
          <div class="invalid-feedback">{{ e }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12 col-md-12 mb-3">
          <label class="control-label" for="{{ form.new_password2.html_name }}">
            {{ form.new_password2.label }}
          </label>
          {{ form.new_password2 }}
          <div class="invalid-feedback">This field is required.</div>
          {% for e in form.new_password2.errors %}
          <div class="invalid-feedback">{{ e }}</div>
          {% endfor %}
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}">
    </form>
  {% else %}
    <h2>{% trans "We're sorry..." %}</h2>
    <p>{% trans "...but this password reset link has expired. Please "%}<a href="{% url 'accounts:password-reset' %}">{% trans "request a new one" %}.</a></p>
  {% endif %}
{% endblock %}

{% block app_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated', 'alorica-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}