{% load i18n %}
{% autoescape off %}

{% blocktrans with _site_name=site_name %}
You're receiving this e-mail because you requested 
a password reset for your user account at {{ _site_name }}.
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thank you for using our site!" %}

{% blocktrans with _site_name=site_name %}The {{ _site_name }} team{% endblocktrans %}

{% endautoescape %}
