{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block app_css %}
  <link rel="stylesheet" href="{% static 'accounts/auth-styles.css' %}" />
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | Login
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
         &nbsp;>&nbsp;
        <li><a href="{% url 'accounts:profile' slug=user.slug %}">{% trans "Accounts" %}</a></li>
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Change password" %}</a></li>
    </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-xs-4 mx-auto">
      <h4>{{ COMPANY_NAME }} &dash; {% trans "Password change" %}</h4>
      <div class="card pl-4 pr-4 pb-4 auth-card">
        {% autoescape off %}
        {% crispy form form.helper %}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock %}

{% block app_js %}
<script>
  $("#new-password").tooltip({trigger: 'focus'});
</script>
{% endblock %}