{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block app_css %}
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Set new password" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
         &nbsp;>&nbsp;
        {% if user %}
          <li><a href="{% url 'accounts:profile' slug=user.username_slug %}">{{ user.username }}</a></li>
        {% else %}
          <li><a class="active">{% trans "Account" %}</a></li>
        {% endif %}
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Reset password" %}</a></li>
    </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
  {% if validlink %}
    <div class="row">
        <div class="col-xs-4 mx-auto">
          <h4>{% trans "Change password" %}</h4>
          <div class="card pl-4 pr-4 pb-4">
            {% crispy form form.helper %}
          </div>
        </div>
      </div>
  {% else %}
    <h2>{% trans "We're sorry..." %}</h2>
    {% url 'accounts:password_reset' as pass_reset_url %}
    {% blocktrans %} <p>...but this password reset link has expired. Please <a href="{{ pass_reset_url }}">request a new one</a></p>{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block app_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated', 'default-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}