{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block app_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/pretty-checkbox-overrides.css' %}" />
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Sign Up" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Sign up" %}</a></li>
      </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
    {% crispy form form.helper %}
{% comment %} <form id="registration-form" class="needs-validation" action="" method="POST" novalidate="novalidate">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <div class="form-row">
            <label class="h3">{% trans "Please fill out the fields below" %}</label>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-12 mb-3">
                <label class="control-label" for="{{ form.email.html_name }}">
                    {{ form.email.label }}
                </label>
                {{ form.email }}
                <div class="invalid-feedback">{% trans "This field is required." %}</div>
                {% for e in form.email.errors %}
                    <div class="invalid-feedback">{{ e }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-12 mb-3">
                <label class="control-label" for="{{ form.username.html_name }}">
                    {{ form.username.label }}
                </label>
                {{ form.username }}
                <div class="invalid-feedback">{% trans "This field is required." %}</div>
                {% for e in form.username.errors %}
                <div class="invalid-feedback">{{ e }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="pretty p-switch p-fill p-smooth">
                    {{ form.accepted_eula }}
                    <div class="state p-primary">
                        <label class="form-check-label" for="id_{{ form.accepted_eula.html_name }}">{% trans "I have read and accept the" %} <a href="#">{% trans "Terms of Use" %}</a></label>
                    </div>
                    <div class="invalid-feedback">{% trans "You must agree before submitting." %}</div>
                    {% for e in form.accepted_eula.errors %}
                    <div class="invalid-feedback">{{ e }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit">
    </form> {% endcomment %}
{% endblock %}

{% block app_js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function() {

        $('#id_birth_date').datepicker({
            format: 'dd/mm/yyyy'
        });
        $('#id_national_id_number').attr('placeholder', "000-0000000-0");
        $('#id_national_id_type').on('change', function() {
            var val = $('#id_national_id_type').val();
            var id_number = $('#id_national_id_number');
            if (val === "0") {
                id_number.attr('placeholder', "000-0000000-0");
            } else if (val === "1") {
                id_number.attr('placeholder', "SC1234567");
            } else if (val === "2") {
                id_number.attr('placeholder', "012-34-5678");
            }
        });
    });
</script>
<script>

</script>
{% endblock %}