{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block app_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/pretty-checkbox-overrides.css' %}" />
<link rel="stylesheet" href="{% static 'accounts/auth-styles.css' %}" />
{% endblock %}

{% block page_title %}
    {{ COMPANY_NAME }} | {% trans "Register" %}
{% endblock %}

{% block header_text %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        &nbsp;>&nbsp;
        <li><a class="active">{% trans "Sign up" %}</a></li>
      </ol>
{% endblock %}

{% block nav-classes %}
{% endblock %}

{% block main_content %}
<div class="container">

    {% crispy form form.helper %}
</div>
{% endblock %}

{% block app_js %}
<script>
    $(document).ready(function() {
        $('#id_birth_date').datepicker({
            format: 'dd/mm/yyyy'
        });
        $('#id_national_id_type').on('change', function() {
            var val = $('#id_national_id_type').val();
            var id_number = $('#id_national_id_number');
            if (val === "0") {
                id_number.attr('placeholder', "000-0000000-0");
            } else if (val === "1") {
                id_number.attr('placeholder', "SC1234567");
            } else if (val === "2") {
                id_number.attr('placeholder', "012-34-5678");
            }
        });
    });
    $("#password1").tooltip({trigger: 'focus'});
    $("#password2").tooltip({trigger: 'focus'});
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}