{% load i18n %}
{% autoescape off %}

{% blocktrans with _site_name=site_name %}
Thank you for registering with {{ _site_name }}.
{% endblocktrans %}

{% trans "Please follow the link below to complete your registration process." %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:register_verify' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thank you for using our site!" %}

{% blocktrans with _site_name=site_name %}The {{ _site_name }} team{% endblocktrans %}

{% endautoescape %}
