{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ COMPANY_NAME }} | Home{% endblock %}

{% block header_text %}
    Home
{% endblock %}

{% block breadcrumbs %}
    <!-- <ol class="breadcrumb">
        <li><a class="active">Home</a></li>
    </ol> -->
{% endblock %}

{% block nav-home %}
    <li role="presentation" class="active">
        <a href="{% url 'home' %}">
            Home
        </a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="{% url 'applications:apply' %}">
                <h1 class="display-4">{% trans "Apply now!" %}</h1>
                <p class="lead">{% trans "Join our wonderful team of go-getters!" %}</p>
            </a>
        </div>
    </div>
    <div>
        <h1 class="display-3">Powered by our people.</h1>
        <h3>You can find us all around the globe!</h3>
    </div>
{% endblock %}