{% load static %}
{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' as bootstrap_css %}
{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' as bootstrap_js %}
{% static 'jquery-3.2.1.min.js' as jquery %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="{% static 'img/icons/favicon.png' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/alorica-styles.css' %}" />
      <title>{% block page_title %}%{% endblock %}</title>
    {% block app_css %}{% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/logo-1.png' %}" class="d-inline-block align-top" alt="company-logo">
          <!--{{ COMPANY_NAME }} -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="https://www.alorica.com/industries/" target="_blank" rel="noopener">Industries <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="https://www.alorica.com/who-we-are/" target="_blank" rel="noopener">Who we are</a>
            <a class="nav-item nav-link" href="{% url 'applications:apply' %}">Apply now</a>
          </div>
        </div>
      </nav>
    
    {% block breadcrumbs %}{% endblock %}

    <div class="container">
      <div class="col-sm-12">
        {% block main_content %}{% endblock %}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    {% block app_js %}{% endblock %}
  </body>
</html>